body{
    background: rgb(188, 209, 219);
}
.jumbotron{
    background-image: url(../img/dasbord.png);
    background-color: rgb(174, 212, 248);
    background-size: 100%;
}
#paket{
    margin-top: -95px;
}
#daftar{
    margin-top:40px;
}
#daftar2{
    background: rgb(161, 161, 161);
}
#setting{
    margin-top: 75px;
}
#data{
    margin-top: 75px;
}
#tentang{
    margin-top: 70px;
    margin-bottom: 30px;
}
#misi{
    background: rgb(21, 37, 131); 
    padding: 20px;   
}
#visi{
    background: rgb(87, 177, 27);
    padding: 20px;
}
#keungulan{
    background: rgb(201, 18, 18);
    padding: 20px;
}
#kelebihan{
    background: rgb(140, 18, 189);
    padding: 20px;
}
.navbar{
    background-color: #000000;
  }
